.header-section{
    position: absolute; width: 100%; height: 3.5em; top:0; left: 0;
    background-color: white; /*box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.10) !important;*/
    box-shadow: 0px 0px 20px 1px rgba(53, 63, 223, 0.3);
    z-index: 100; display: flex; flex-direction: row; justify-content: space-between; padding: 0px 10px 0px 10px;
}
.main-section{
    position: absolute; width: 100%; height: calc(100% - 3.5em); right: 0; bottom: 0;
    background-color: indianred;
}
.map-container{
    position: absolute; width: 100%; height: 100%;
}
    .header-section > .bar-group > .btn-logo{
        width: 10em; height: 100%; display: flex; align-items: center; justify-content: center;
        font-size: 18px; font-family: 'Rubik-Medium'; color: #0b0D31;
    }
    .header-section > .bar-group > .btn-logo > .plane{
        margin-left: 4px;
    }
    .header-section > .bar-group{
        display: flex; flex-direction: row;
    }
    .button-primary{
        font-family: "Nunito-Regular"; color: white;
        padding: 10px 40px 10px 40px; margin: 5px; border-radius: 26px; height: 1.625em;
    }
    .button-menu-right{
        font-family: "Nunito-Regular"; color: white;
        height: 100%; padding: 0 10px 0 10px;
    }
    .header-section .title-bar{
        font-family: "Nunito-Regular";
        display: flex; align-items: center; justify-content: center;
    }

.fadeOut{
    transition: width 1s, height 1s, opacity 0.5s;
    opacity:0;
    width:0;
    /*height:0;*/

}
.fadeIn{
    opacity:1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}