.modal-map-full{
    position: absolute;
    right: 0; left: 0; top: 0; bottom: 0;
    margin-right: auto; margin-left: auto; margin-top: auto; margin-bottom: auto;
    min-height: 10em; max-height: 70%;
    width: 70%; 
    background-color: rgb(255, 255, 255); box-shadow: 0px 0px 20px 1px rgba(53, 63, 223, 0.3);
    z-index: 1000;  overflow: auto;
    display: flex; flex-direction: column;
}
    .modal-group-top-bar-default{
        position: absolute;
        top: 0; right: 0; z-index: 1;
    }
        .modal-group-top-bar-default > .button-modal-top-bar{
            font-family: "Nunito-Regular"; color: white;
            padding: 6px 10px 6px 10px; font-size: 12px;
        }
    
    .modal-group-top-section{
        background-color: teal; height: 10em; width: 100%; overflow: hidden; position: relative;
        display: flex; align-items: center; justify-content: center;
    }
        .modal-group-top-section > img.wallpaper{
            background-color: teal;  width: 100%;
        }
        .modal-group-top-section > .country-initial-description{
            position: absolute; left: 4px; bottom: 0.2em; display: flex; flex-direction: column;
            color: white;
        }
            .country-initial-description > span{
                background-color: rgba(0, 0, 0, 0.2);
            }
            .country-initial-description > span.country-title{
                font-family: 'Nunito-Bold'; font-size: 20px;
            }
            .country-initial-description > span.country-subtitle{
                font-style: italic;
            }
    .modal-group-main-section{
        position: relative;
        min-height: calc(100% - 10em); width: 100%;
    }
        .modal-group-main-section > .modal-fliper{
            position: absolute; top: 0px; right: 0; left: 0; top: 0;
            margin-right: auto; margin-left: auto; border: 1px solid rgb(185, 183, 183); height: 2.5em; max-width: 26em; border-radius: 0px 0px 40px 40px; z-index: 10;
            display: flex; overflow: hidden;
        }
        .modal-fliper > .modal-fliper-item{
            width: 100%; flex-grow: 1; color: #617dcf; font-size: 16px; font-family: 'Nunito-Regular';
            display: flex; align-items: center; justify-content: center; position: relative;
        }